<body class="body-disco">
  <div class="disco-box">
    <h1 class="disco-text text-center">Cinky Play</h1>

    <div class="cp-logo-disco">
      <%= image_tag "CP-logo-weiß.png"%>
    </div>
    <div class="back-button">
      <%= link_to "back", root_path, class:"btn-home-here", role:"button" %>
    </div>
  </div>
</body>
