<body class="bg-dress">

  <div class="signup-body">
    <div class="Cinky-play">
      <%= image_tag "cinky-play.png"%>
    </div>

    <div class="contact-us-box-dress col-lg-6">
      <h2 class="h1-responsive font-weight-bold my-4"> Here are some inspirations for the (Un)dress code:</h2>
      <h5 class=" cinky-text w-responsive mb-5 col-md-10">
        <br>
        - Dress less to impress, but most importantly, dress to feel comfortable in your own skin.
        <br>
        - Experience the durability and beauty of leather (add a touch of class to your costume)
        <br>
        - Don't be a fashion victim, be a fashion victory
        <br>
        - Anything but casual
        <br>
        - Protect youself (hint: invitation)
        <br>
        - If you still don't get it, read the f*cking text again...
        <br>
        <br>
        Here are some links for some inspiration:
        <br>
        <a href="https://www.smitizen.com/article/the-best-fetish-outfit-ideas-for-your-next-party.html">Some Ideas</a>
        <br>
        <a href="https://www.blackwidowlondon.com/collections/fetish?page=3">Some more inspiration</a>
        <br>
        <a href="https://www.kitkatclub.org/">The Kitkat Club</a>
        <br>
      </h5>
    </div>

    <div class="back-button">
      <%= link_to "back", disco_path, class:"btn-home-here-black", role:"button" %>
    </div>

    <div class="cp-logo-home">
      <%= image_tag "cp-logo-extended.png"%>
    </div>
  </div>

</body>
