<body class="bg">

  <div class="signup-body">
    <div class="Cinky-play">
      <%= image_tag "cinky-play.png"%>
    </div>

    <div class="contact-us-box col-lg-6">
      <h2 class="h1-responsive font-weight-bold my-4">An alle Nymphomanen und Masochisten!</h2>
      <h5 class=" cinky-text w-responsive mb-5 col-md-10">
        An den verborgen anonymen Ecken des kleinen Berlins in der Dürener Strasse 284, in dessen unentdeckten Winkeln sich Dominas und Toyboys vergnügen, verbirgt sich am 18.02.2023 der Cinky Playground. <br>
        Zwischen Lack, Leder und Handschellen eröffnet sich die Spielkammer/Spielwiese für alle Koitusexperten, Kamasutraspezialisten und fetish Polizisten. Beim CarnePall Bizzar treffen cölsche Pfetischisten auf clein Perverse.<br><br>

        Am Abend des 18. Februars verwandeln sich versaute Pfanasien in höhepunkt bringende Realitäten.<br>
        Alle CosPlay-Cenner, Cölsch-Peitscher und FKK-Proleten ziehen ab 21 Uhr Lack und Leder an und tauschen blaue Pillen gegen goldenes Wasser.<br>
        Unter dem Einfluss des Selbstbewusstseins verleihenden Wassers nähern sich Crossdresser und Voyeurismus-Fessler gegenseitig an.<br>
        Zwischen Andreaskreuz und dem Loch der Ehre sorgen devote Subs für extravagantes Treiben.<br>

        <br>Türregeln:
        <br>- dress less to impress<br>
        - leichte Bekleidung empfohlen, da keine Garderobe<br>
        - Für Tickets: Contact your personal cinky Master<br>
        - 48 Lustcoins<br>
      </h5>
    </div>

    <div class="disco-button">
      <%= link_to "PUSH ME DADDY", disco_path, class:"btn-disco-here", role:"button" %>
    </div>

    <div class="cp-logo-home">
      <%= image_tag "CP-logo-weiß.png"%>
    </div>
  </div>
</body>
